@media(min-width:992px){    
    
    .navbar{
        padding: 0 3rem;
        position: fixed;
        top: 0px;
        z-index: 9000;
    }
    .navbar-brand{
        img{
            width: 50%;
            height: auto;
        }
    }
}